.idea/inspectionProfiles/profiles_settings.xml
/.idea

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Testowe/raporty
.coverage
htmlcov/
.pytest_cache/

# Tymczasowe pliki
*.tmp
*.bak

# Systemowe
.DS_Store
Thumbs.db